services:
  openclaw:
    build: .
    container_name: openclaw_app
    environment:
      - HOME=/home/node
      - OPENCLAW_GATEWAY_TOKEN=tu_contraseña_aqui  # DEFINE TU PASSWORD AQUÍ
    volumes:
      - ./openclaw_data:/home/node/.openclaw
      - ./proyectos:/home/node/.openclaw/workspace
    ports:
      - "18789:18789"
    init: true
    restart: unless-stopped
